workflows/02 - Task Generator Agent.json
{
  "name": "02 - Task Generator Agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "95f3c513-063a-499b-8236-56a345be4bd8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QZ9Gq3IzacRkYjfoVbb0mYMTolVZleINpKtfqg31Nl4",
          "mode": "list",
          "cachedResultName": "MyLife_AI_Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QZ9Gq3IzacRkYjfoVbb0mYMTolVZleINpKtfqg31Nl4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1482108085,
          "mode": "list",
          "cachedResultName": "Milestones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QZ9Gq3IzacRkYjfoVbb0mYMTolVZleINpKtfqg31Nl4/edit#gid=1482108085"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "Not Started"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "dda3c790-3162-40d6-aa5b-a6f2e5da7e43",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nWxUfmGEC7k55S7m",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are the Task Generator Agent for MyLife AI.\n\nYour job is to convert ONE milestone into small actionable tasks.\n\nYou are an expert Project Planner and Productivity Coach.\n\nYou receive ONE milestone as input.\n\nINPUT\n\n{{ JSON.stringify($json, null, 2) }}\n\n------------------------------------\n\nRules\n\n1. Understand the milestone.\n\n2. Generate between 5 and 8 tasks.\n\n3. Never generate fewer than 5 tasks.\n\n4. Never return one large task.\n\n5. Break complex work into smaller actionable tasks.\n\n6. Every task should require approximately 30–180 minutes.\n\n7. Tasks must be ordered logically.\n\n8. Use the milestone priority.\n\n9. Every due_date must fall between the milestone start_date and end_date.\n\n10. Keep task names short.\n\n11. Keep descriptions concise.\n\n12. Return ONLY valid JSON.\n\n13. Do not explain anything.\n\n14. Do not use Markdown.\n\n------------------------------------\n\nReturn EXACTLY this JSON structure.\n\n{\n  \"tasks\": [\n    {\n      \"task_id\": \"\",\n      \"goal_id\": \"\",\n      \"milestone_id\": \"\",\n      \"task_name\": \"\",\n      \"description\": \"\",\n      \"priority\": \"\",\n      \"estimated_minutes\": 60,\n      \"due_date\": \"\",\n      \"status\": \"Not Started\",\n      \"progress\": 0,\n      \"xp_reward\": 20,\n      \"created_at\": \"\",\n      \"updated_at\": \"\"\n    }\n  ]\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "97595540-eb38-4b95-90b7-0f5f5bed9029",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"tasks\": {\n      \"type\": \"array\",\n      \"minItems\": 5,\n      \"maxItems\": 8,\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"task_id\": {\n            \"type\": \"string\"\n          },\n          \"goal_id\": {\n            \"type\": \"string\"\n          },\n          \"milestone_id\": {\n            \"type\": \"string\"\n          },\n          \"task_name\": {\n            \"type\": \"string\"\n          },\n          \"description\": {\n            \"type\": \"string\"\n          },\n          \"priority\": {\n            \"type\": \"string\"\n          },\n          \"estimated_minutes\": {\n            \"type\": \"number\"\n          },\n          \"due_date\": {\n            \"type\": \"string\"\n          },\n          \"status\": {\n            \"type\": \"string\"\n          },\n          \"progress\": {\n            \"type\": \"number\"\n          },\n          \"xp_reward\": {\n            \"type\": \"number\"\n          },\n          \"created_at\": {\n            \"type\": \"string\"\n          },\n          \"updated_at\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"task_id\",\n          \"goal_id\",\n          \"milestone_id\",\n          \"task_name\",\n          \"description\",\n          \"priority\",\n          \"estimated_minutes\",\n          \"due_date\",\n          \"status\",\n          \"progress\",\n          \"xp_reward\",\n          \"created_at\",\n          \"updated_at\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"tasks\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        576,
        160
      ],
      "id": "100c331a-b59f-490d-96b2-e60d50dfb2f6",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        400,
        160
      ],
      "id": "3dce8c5d-3aae-4332-8aeb-83bc839f8d72",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xRuIaqHYhtuTAY3n",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.tasks",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        768,
        0
      ],
      "id": "0037d58f-1940-4823-9523-38d79de57fc5",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QZ9Gq3IzacRkYjfoVbb0mYMTolVZleINpKtfqg31Nl4",
          "mode": "list",
          "cachedResultName": "MyLife_AI_Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QZ9Gq3IzacRkYjfoVbb0mYMTolVZleINpKtfqg31Nl4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 154195189,
          "mode": "list",
          "cachedResultName": "Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QZ9Gq3IzacRkYjfoVbb0mYMTolVZleINpKtfqg31Nl4/edit#gid=154195189"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_id": "={{ $json.task_id }}",
            "goal_id": "={{ $json.goal_id }}",
            "milestone_id": "={{ $json.milestone_id }}",
            "task_name": "={{ $json.task_name }}",
            "description": "={{ $json.description }}",
            "priority": "={{ $json.priority }}",
            "estimated_minutes": "={{ $json.estimated_minutes }}",
            "due_date": "={{ $json.due_date }}",
            "status": "={{ $json.status }}",
            "progress": "={{ $json.progress }}",
            "xp_reward": "={{ $json.xp_reward }}",
            "created_at": "={{ $json.created_at }}",
            "updated_at": "={{ $json.updated_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "goal_id",
              "displayName": "goal_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "milestone_id",
              "displayName": "milestone_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "task_name",
              "displayName": "task_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estimated_minutes",
              "displayName": "estimated_minutes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "due_date",
              "displayName": "due_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "progress",
              "displayName": "progress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "xp_reward",
              "displayName": "xp_reward",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        0
      ],
      "id": "dc391c15-fc20-4970-a62b-990442afe657",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nWxUfmGEC7k55S7m",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c8ef8eab-0238-41e0-88eb-a5b6ab68e3f8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3a6605d1cc56d5d41a925fdcbeb9d3b1ea1c8516675e0b6a7eb4b3347159fd59"
  },
  "nodeGroups": [],
  "id": "00TuXRZanb7g89n0",
  "tags": []
}