workflows/04 - Journal & Reflection Agent.json
{
  "name": "04 - Journal & Reflection Agent",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QZ9Gq3IzacRkYjfoVbb0mYMTolVZleINpKtfqg31Nl4",
          "mode": "list",
          "cachedResultName": "MyLife_AI_Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QZ9Gq3IzacRkYjfoVbb0mYMTolVZleINpKtfqg31Nl4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 856870059,
          "mode": "list",
          "cachedResultName": "User",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QZ9Gq3IzacRkYjfoVbb0mYMTolVZleINpKtfqg31Nl4/edit#gid=856870059"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -384,
        48
      ],
      "id": "2a105d02-0a0b-4cf8-a9f6-335c95de8e3c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "W0LRtji0xGhbHDNL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -208,
        64
      ],
      "id": "a02c5826-1b9d-4b37-a3c1-fca9a35243fd",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are the Journal Reflection Agent for MyLife AI.\n\nYou analyze a user's daily journal.\n\nYou MUST preserve the user's journal exactly as written.\n\nYou MUST NEVER leave journal_text empty.\n\n--------------------------------------------------\n\nCURRENT DATE\n\n{{$today}}\n\nCURRENT TIMESTAMP\n\n{{$now}}\n\n--------------------------------------------------\n\nUSER PROFILE\n\n{{ JSON.stringify($data,null,2) }}\n\n--------------------------------------------------\n\nUSER JOURNAL\n\n{{ $json.body.journal_text }}\n\n--------------------------------------------------\n\nYOUR RESPONSIBILITIES\n\nRead the journal.\n\nDetermine:\n\n• mood\n• energy\n• ai_summary\n• tomorrow_focus\n\nIMPORTANT\n\nThe field journal_text MUST contain the user's journal EXACTLY as received.\n\nCopy it verbatim.\n\nDo NOT summarize it.\n\nDo NOT rewrite it.\n\nDo NOT shorten it.\n\nDo NOT remove line breaks.\n\nReturn ONLY valid JSON.\n\n{\n  \"journal\": {\n    \"journal_id\": \"JOURNAL0001\",\n    \"user_id\": \"USER001\",\n    \"date\": \"{{$today}}\",\n    \"mood\": \"\",\n    \"energy\": \"\",\n    \"journal_text\": \"{{ $json.body.journal_text }}\",\n    \"ai_summary\": \"\",\n    \"tomorrow_focus\": \"\",\n    \"created_at\": \"{{$now}}\"\n  }\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        0
      ],
      "id": "cc4e0c5b-f003-4d54-bade-e4aa7681e381",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"journal\": {\n    \"journal_id\": \"JOURNAL0001\",\n    \"user_id\": \"USER001\",\n    \"date\": \"2026-07-05\",\n    \"mood\": \"\",\n    \"energy\": \"\",\n    \"journal_text\": \"\",\n    \"ai_summary\": \"\",\n    \"tomorrow_focus\": \"\",\n    \"created_at\": \"2026-07-05T12:00:00Z\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        160,
        224
      ],
      "id": "9d88f1f8-b899-4da8-ac7c-795649312f22",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QZ9Gq3IzacRkYjfoVbb0mYMTolVZleINpKtfqg31Nl4",
          "mode": "list",
          "cachedResultName": "MyLife_AI_Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QZ9Gq3IzacRkYjfoVbb0mYMTolVZleINpKtfqg31Nl4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2010772922,
          "mode": "list",
          "cachedResultName": "Journal",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QZ9Gq3IzacRkYjfoVbb0mYMTolVZleINpKtfqg31Nl4/edit#gid=2010772922"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "journal_id": "={{ $json.output.journal.journal_id }}",
            "user_id": "={{ $json.output.journal.user_id }}",
            "date": "={{ $json.output.journal.date }}",
            "mood": "={{ $json.output.journal.mood }}",
            "created_at": "={{ $json.output.journal.created_at }}",
            "tomorrow_focus": "={{ $json.output.journal.tomorrow_focus }}",
            "energy": "={{ $json.output.journal.energy }}",
            "journal_text": "={{ $json.output.journal.journal_text }}",
            "ai_summary": "={{ $json.output.journal.ai_summary }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "journal_id",
              "displayName": "journal_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mood",
              "displayName": "mood",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "energy",
              "displayName": "energy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "journal_text",
              "displayName": "journal_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_summary",
              "displayName": "ai_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tomorrow_focus",
              "displayName": "tomorrow_focus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        64
      ],
      "id": "de0fe6fe-abcb-4abf-b427-66fed79c8a38",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "W0LRtji0xGhbHDNL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -16,
        208
      ],
      "id": "b9e14fb5-9862-4006-ac21-4b94f89e9db0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "EFIVRRQRMYSjFP6K",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "journal",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -640,
        48
      ],
      "id": "b9ebd609-371a-434b-9c2c-cfd4a73ad376",
      "name": "Webhook",
      "webhookId": "ba988c47-e13d-4c62-8082-392b8cae5404"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseKey": "output"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        64
      ],
      "id": "7ccd0fa4-555e-45f5-bb78-1329eb55e0e7",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a790ab6f-1d3d-4dc6-8800-aa2bfc448f11",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b839f64cdbdd6eaf1d06f626410a9069d104782102db5b5abcde1f27509f2a86"
  },
  "nodeGroups": [],
  "id": "eCIhcNG3mSs7G0qq",
  "tags": []
}