workflows/04 - Journal & Reflection Agent.json
{
  "name": "04 - Journal & Reflection Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "c3095ba7-1e95-4d64-a887-4ff01421e610",
      "name": "When chat message received",
      "webhookId": "6e067ee4-9b27-4d95-9aa5-b6b8586600de"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QZ9Gq3IzacRkYjfoVbb0mYMTolVZleINpKtfqg31Nl4",
          "mode": "list",
          "cachedResultName": "MyLife_AI_Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QZ9Gq3IzacRkYjfoVbb0mYMTolVZleINpKtfqg31Nl4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 856870059,
          "mode": "list",
          "cachedResultName": "User",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QZ9Gq3IzacRkYjfoVbb0mYMTolVZleINpKtfqg31Nl4/edit#gid=856870059"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        -16
      ],
      "id": "59923ffb-c0e0-4954-9c08-514df2681952",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nWxUfmGEC7k55S7m",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "d9d01d60-c062-4f57-be4e-7d99f70eba63",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are the Journal Reflection Agent for MyLife AI.\n\nYou analyze a user's daily journal.\n\nYou MUST preserve the user's journal exactly as written.\n\nYou MUST NEVER leave journal_text empty.\n\n-------------------------\n\nINPUT\n\nUSER PROFILE\n\n{{ JSON.stringify($data,null,2) }}\n\n----------------------------------\n\nUSER JOURNAL\n\n{{ $('When chat message received').item.json.chatInput }}\n\n----------------------------------\n\nCURRENT DATE\n\n{{$today}}\n\n-------------------------\n\nRead the journal.\n\nDetermine:\n\n- mood\n- energy\n- AI summary\n- tomorrow focus\n\nIMPORTANT\n\nThe field \"journal_text\" MUST contain the user's journal EXACTLY as received.\n\nCopy it verbatim.\n\nDo NOT summarize it.\n\nDo NOT rewrite it.\n\nDo NOT shorten it.\n\nDo NOT remove line breaks.\n\nIt should be identical to USER JOURNAL.\n\nReturn ONLY valid JSON.\n\n{\n  \"journal\":{\n    \"journal_id\":\"JOURNAL0001\",\n    \"user_id\":\"USER001\",\n    \"date\":\"{{$today}}\",\n    \"mood\":\"\",\n    \"energy\":\"\",\n    \"journal_text\":\"{{ $json.chatInput }}\",\n    \"ai_summary\":\"\",\n    \"tomorrow_focus\":\"\",\n    \"created_at\":\"{{$now}}\"\n  }\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        -64
      ],
      "id": "f205bcae-a8f4-4d9b-831b-927e8c777367",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"journal\": {\n    \"journal_id\": \"\",\n    \"user_id\": \"\",\n    \"date\": \"\",\n    \"mood\": \"\",\n    \"energy\": \"\",\n    \"journal_text\": \"\",\n    \"ai_summary\": \"\",\n    \"tomorrow_focus\": \"\",\n    \"created_at\": \"\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        784,
        160
      ],
      "id": "b1dd0e19-1765-42c1-b8b1-ffe0619eaa5a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QZ9Gq3IzacRkYjfoVbb0mYMTolVZleINpKtfqg31Nl4",
          "mode": "list",
          "cachedResultName": "MyLife_AI_Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QZ9Gq3IzacRkYjfoVbb0mYMTolVZleINpKtfqg31Nl4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2010772922,
          "mode": "list",
          "cachedResultName": "Journal",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QZ9Gq3IzacRkYjfoVbb0mYMTolVZleINpKtfqg31Nl4/edit#gid=2010772922"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "journal_id": "={{ $json.output.journal.journal_id }}",
            "user_id": "={{ $json.output.journal.user_id }}",
            "date": "={{ $json.output.journal.date }}",
            "mood": "={{ $json.output.journal.mood }}",
            "created_at": "={{ $json.output.journal.created_at }}",
            "tomorrow_focus": "={{ $json.output.journal.tomorrow_focus }}",
            "energy": "={{ $json.output.journal.energy }}",
            "journal_text": "={{ $json.output.journal.journal_text }}",
            "ai_summary": "={{ $json.output.journal.ai_summary }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "journal_id",
              "displayName": "journal_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mood",
              "displayName": "mood",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "energy",
              "displayName": "energy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "journal_text",
              "displayName": "journal_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_summary",
              "displayName": "ai_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tomorrow_focus",
              "displayName": "tomorrow_focus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        0
      ],
      "id": "89c5b74f-c03f-4339-b1e1-ab4731a73b5d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nWxUfmGEC7k55S7m",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        624,
        112
      ],
      "id": "a0c82066-915e-488d-a6e9-39aaa17f7c64",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3AjCA83VnApO9CD3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a7dcd0ef-64d1-48b3-a9e5-c50e133a0c5d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3a6605d1cc56d5d41a925fdcbeb9d3b1ea1c8516675e0b6a7eb4b3347159fd59"
  },
  "nodeGroups": [],
  "id": "AxdH1POZrDaKFIlP",
  "tags": []
}