workflows/05 - AI Coach.json
{
  "name": "05 - AI Coach",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QZ9Gq3IzacRkYjfoVbb0mYMTolVZleINpKtfqg31Nl4",
          "mode": "list",
          "cachedResultName": "MyLife_AI_Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QZ9Gq3IzacRkYjfoVbb0mYMTolVZleINpKtfqg31Nl4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2010772922,
          "mode": "list",
          "cachedResultName": "Journal",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QZ9Gq3IzacRkYjfoVbb0mYMTolVZleINpKtfqg31Nl4/edit#gid=2010772922"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        608,
        16
      ],
      "id": "5c79a77d-5e6f-40bf-8d88-47eae24d8126",
      "name": "Read Journal",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "W0LRtji0xGhbHDNL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QZ9Gq3IzacRkYjfoVbb0mYMTolVZleINpKtfqg31Nl4",
          "mode": "list",
          "cachedResultName": "MyLife_AI_Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QZ9Gq3IzacRkYjfoVbb0mYMTolVZleINpKtfqg31Nl4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 154195189,
          "mode": "list",
          "cachedResultName": "Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QZ9Gq3IzacRkYjfoVbb0mYMTolVZleINpKtfqg31Nl4/edit#gid=154195189"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        16
      ],
      "id": "25042653-1e85-40be-b19e-0e017a9e3484",
      "name": "Read Tasks",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "W0LRtji0xGhbHDNL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QZ9Gq3IzacRkYjfoVbb0mYMTolVZleINpKtfqg31Nl4",
          "mode": "list",
          "cachedResultName": "MyLife_AI_Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QZ9Gq3IzacRkYjfoVbb0mYMTolVZleINpKtfqg31Nl4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 807662676,
          "mode": "list",
          "cachedResultName": "Goals",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QZ9Gq3IzacRkYjfoVbb0mYMTolVZleINpKtfqg31Nl4/edit#gid=807662676"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        192,
        16
      ],
      "id": "2ca7555a-b57b-42b0-bbe5-17bbf9a74b8b",
      "name": "Read Goals",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "W0LRtji0xGhbHDNL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        816,
        16
      ],
      "id": "d784bc2f-489c-4dfd-a3ac-f9197fa8b192",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are the AI Coach for MyLife AI.\n\nYou are NOT a chatbot.\n\nYou are an expert Productivity Coach, Life Coach and Career Mentor.\n\nYour job is to analyze the user's current progress and provide actionable coaching.\n\n----------------------------------\n\nUSER DATA\n\n{{ JSON.stringify($data, null, 2) }}\n\n----------------------------------\n\nUSER QUESTION\n\n{{ $json.body.message }}\n\n----------------------------------\n\nYOUR RESPONSIBILITIES\n\nAnalyze:\n\n• Goals\n• Tasks\n• Journal\n\nThen provide:\n\n1. Overall Progress\n2. Biggest Achievement\n3. Biggest Blocker\n4. Top 3 Priorities\n5. Motivation\n6. Productivity Tip\n7. Suggested Next Action\n\nBase your advice ONLY on the provided data.\n\nDo NOT invent information.\n\nKeep responses concise.\n\nReturn ONLY valid JSON.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1024,
        16
      ],
      "id": "c91388e6-e051-44f4-83c0-0e7dd0b3ddbc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"coach\": {\n    \"overall_progress\": \"\",\n    \"biggest_achievement\": \"\",\n    \"biggest_blocker\": \"\",\n    \"top_priorities\": [\n      \"\",\n      \"\",\n      \"\"\n    ],\n    \"motivation\": \"\",\n    \"productivity_tip\": \"\",\n    \"next_action\": \"\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1200,
        176
      ],
      "id": "1caed721-ce4f-44bb-958e-08095f0ee944",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1008,
        192
      ],
      "id": "a3fce26d-f3ef-43ed-a8a0-4fe6581f3824",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "EFIVRRQRMYSjFP6K",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "coach",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        16
      ],
      "id": "f0d0cf98-8d8e-4702-8018-759c90f440e5",
      "name": "Webhook",
      "webhookId": "5d91828a-dfdc-4645-a2c7-5baeb935fcc7"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1376,
        16
      ],
      "id": "d88d8bdf-0423-4871-9d9c-acbd614d88ac",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Read Tasks": {
      "main": [
        [
          {
            "node": "Read Journal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Goals": {
      "main": [
        [
          {
            "node": "Read Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Journal": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Read Goals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a6e3f355-e049-41d5-8300-8b245418a98f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b839f64cdbdd6eaf1d06f626410a9069d104782102db5b5abcde1f27509f2a86"
  },
  "nodeGroups": [],
  "id": "2MTH7AtZ2AwqqP5O",
  "tags": []
}